<p>Welcome to two tables communication demo.</p>

<input (click)="toggleRecords()" type="checkbox" value="showDeleted"> Show deleted records
<app-table
    (onRowClick)="loadSttnsByZttnSysn($event)"
    (onRowDelete)="zttn.removeByFId($event)"
    (onRowUpdate)="zttn.update($event)"
    (onRowCreate)="zttn.create($event)"
    [tableName]="zttn._tableName"
    [data]="zttn._data"
    [columns]="zttn._columns">
</app-table>
<app-table
    (onRowDelete)="sttn.removeByFId($event)"
    (onRowUpdate)="sttn.update($event)"
    (onRowCreate)="sttn.create($event)"
    [tableName]="sttn._tableName"
    [data]="sttn._data"
    [columns]="sttn._columns">
</app-table>