<div *ngIf="isLoaded">
    <p [ngClass]="'tableNameText'">{{tableName}} is here!</p>
    <div>
        <div *ngIf="!createRow" [class.crudButtonsDiv]="selectedRowId >= 0" [ngClass]="['crudButton']">
            <button (click)="createRecord()">Create</button>
        </div>
        <div *ngIf="createRow" [ngClass]="['crudButton', 'crudButtonsDiv']">
            <button (click)="saveRecord()">Save</button>
        </div>
        <div *ngIf="createRow" [class.crudButtonsDiv]="selectedRowId >= 0" [ngClass]="'crudButton'">
            <button (click)="cancelCreatingRecord()">Cancel</button>
        </div>
        <div *ngIf="!updateRow" [class.hidden]="selectedRowId < 0" [ngClass]="['crudButton', 'crudButtonsDiv']">
            <button (click)="updateRecord()">Update</button>
        </div>
        <div *ngIf="updateRow" [class.hidden]="selectedRowId < 0" [ngClass]="['crudButton', 'crudButtonsDiv']">
            <button (click)="saveRecord()">Save</button>
        </div>
        <div *ngIf="updateRow" [class.hidden]="selectedRowId < 0" [ngClass]="['crudButton', 'crudButtonsDiv']">
            <button (click)="cancelUpdatingRecord()">Cancel</button>
        </div>
        <div [class.hidden]="selectedRowId < 0" [ngClass]="['crudButton']">
            <button (click)="deleteSelectedRow($event)">Delete</button>
        </div>
    </div>
    <div [ngClass]="'fixedTableHeader'">
        <table>
            <thead [ngClass]="'fixHeader'">
                <tr (click)="resetSelectedRow()">
                    <th *ngFor="let column of columns">{{column.toUpperCase()}}</th>
                </tr>
            </thead>
            <tbody [ngClass]="'overflowY'">
                <tr *ngIf="createRow">
                    <td *ngFor="let columnName of columns" [attr.name]="columnName">
                        <input [ngClass]="'input'" type="text" *ngIf="!columnName.startsWith('f_')">
                    </td>
                </tr>
                <tr *ngFor="let dataRow of data; let rowId = index" (dblclick)="updateRecord()"
                    (click)="raiseOnRowClick($event, rowId)" [class.highlighted]="this.selectedRowId == rowId"
                    [class.deleted]="" [attr.id]=rowId>
                    <ng-container *ngIf="this.selectedRowId != rowId">
                        <td *ngFor="let dataValue of dataRow; let cellId = index" [attr.name]="columns[cellId]">
                            {{dataValue}}
                        </td>
                    </ng-container>
                    <ng-container *ngIf="this.selectedRowId == rowId">
                        <td *ngFor="let dataValue of dataRow; let cellId = index" [attr.name]="columns[cellId]">
                            <ng-container *ngIf="!updateRow">
                                {{dataValue}}
                            </ng-container>
                            <ng-container *ngIf="updateRow">
                                <input [value]="updatingRow[cellId]" (keyup)="valueChanged($event, cellId)"
                                    [ngClass]="'input'" type="text" *ngIf="!columns[cellId].startsWith('f_')">
                            </ng-container>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="!isLoaded">
    <p [ngClass]="'tableNameText'">{{tableName}} right now is empty or haven't loaded yet.</p>
</div>