table {
  border-spacing: 0;
  border: 1px solid black;
  white-space: nowrap;
  text-align: left;
  position: relative;
  border-collapse: collapse;
}

thead {
  th {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background: #afd792;
    color: #333;
  }
}

tbody {
  tr {
    &:hover {
      background: #ffc64b93;
      color: rgb(0, 0, 0);
    }

    &.deleted {
      background: rgb(255, 0, 0);
    }

    &.highlighted {
      background: rgba(0, 185, 71, 0.664);
    }
  }

  td {
    text-align: center;
    font-size: 13px;
    margin: 0;
    padding-left: 2px;
    padding-right: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
}

.fixedTableHeader {
  overflow-y: scroll;
  height: 370px;

  thead th {
    position: sticky;
    top: 0;
  }
}

.hidden {
  display: none;
}

.crudButton {
  padding: 4px;
}

.crudButtonsDiv {
  float: left;
}

.tableNameText {
  text-align: center;
  margin: 8px;
}

.input {
  width: 100%;
}